.App {
  text-align: center;
}


.header {
  background-color: #007dc6;
  height: 50px;
  padding: 20px 0px;
  color: white;
  border-bottom: solid 5px #ffc220;
  width : 100%;
}

.logo {
  height: 50px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  background-color: #007dc6;
  border-top: solid 5px #ffc220;
  margin-bottom: 30px;
}

.text-center {
    text-align: center!important;
}
.feed-col{
  width: auto !important;
  padding: 0px 37px !important; 
}

.stock-widget {
    color: #fff;
    margin-top: 10px;
}

div#random_no_container {
    font-family: bogle;
}
.stock {
    font-size: 30px;
    margin-bottom: 0;
}

.stock-value {
    font-size: 30px;
}
.green {
    color: #76c043;
}

.red {
    color: #ec0439;
}
.date-time-widget {
    color: #fff;
    font-family: bogle;
    margin-top: 10px;
}
.date {
    font-size: 30px;
    margin-bottom: 0;
}
.time {
    margin-top: 0px;
    font-size: 30px;
}

.weatherwidget-io-frame
{
  display: block; 
  position: absolute; 
  top: 0px; 
  height: 98px;
}
.weatherwidget-io-warpper{
  display: block;
  position: relative;
  height: 98px;
  padding: 0px;
  overflow: hidden;
  text-align: left;
  text-indent: -299rem;
}


.icon {
    font-size: 30px;
}

.doug-feed-content {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.doug-post-content {
    padding-top: 10px;
}

.doug-content-creator-img {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.doug-content-creator {
    color: #365899;
    font-size: 14px;
    text-align: left !important;
    margin-top: 8px;
    font-family: helvetica;
    font-weight: 600;
}

.doug-message {
    /* width: 500px; */
    width: 100%;
    font-size: 14px;
    padding: 15px;
    text-align: left !important;
}
.doug-feed-picture {
    /* width: 500px; */
    width: 100%;
}
.fb-logo {
  height:40px;
}

.feed {
  height: 350px;
  background-color: #f6f7f9;
  text-align: left;
  overflow: auto;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
}

.fb-feed-image {
  width: 95%;
  margin-left: 10px;
}


.feed-head{
  height: 55px;
  /* width: auto; */
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border-bottom: 1px solid #ccc;
}

.feed-head-logo {
    height: 40px;
    width: 40px;
    float: left;
    padding-top: 12px;
    padding-left: 10px;
}
.feed-head-title {
    padding-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.twitter-fc{
  margin-top: 15px !important;
}
.ticker {
    background-color: #000;
    height: 35px;
}
.ticker ul li{ 
    display: inline;
    margin-right: 90px;
    text-transform: uppercase;
    color: #fff;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}